<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WisaTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WisaTest.Properties.Settings>
            <setting name="WisaUrl" serializeAs="String">
                <value>wenen.wisa-asp.net</value>
            </setting>
            <setting name="WisaPort" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="WisaAccount" serializeAs="String">
                <value>VDSAN</value>
            </setting>
            <setting name="WisaPassword" serializeAs="String">
                <value>0175</value>
            </setting>
            <setting name="WisaDatabase" serializeAs="String">
                <value>SGKSOA</value>
            </setting>
        </WisaTest.Properties.Settings>
    </userSettings>
</configuration>